{% load humanize %}
{% load tz %}

{% if records %}
    <ul class="list-group">
        {% for record in records %}
        <li class="list-group-item d-flex justify-content-between align-items-center {% if new_record_id == record.id %}highlight-new{% endif %}">
            <div>
                {% if new_record_id == record.id %}
                <i class="bi bi-stars me-2 text-primary"></i>
                {% else %}
                <i class="bi bi-dot me-2"></i>
                {% endif %}
                {{ record.stool_type }}
                {% if record.pain %} <span class="badge bg-danger">Pain</span>{% endif %}
                {% if record.blood_in_stool %} <span class="badge bg-danger">Blood in stool</span>{% endif %}
                {% if record.blood_on_paper %} <span class="badge bg-danger">Blood on paper</span>{% endif %}
            </div>
            <div class="d-flex align-items-center">
                <!-- Human readable time -->
                <span class="text-muted me-2 small record-time-human">
                    {{ record.timestamp|naturaltime }}
                </span>
                <!-- Exact timestamp -->
                <span class="badge bg-primary rounded-pill">{{ record.timestamp|localtime|date:"M d, Y g:i A" }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-center text-muted">
        <i class="bi bi-exclamation-circle me-2"></i>
        No records yet. Start tracking!
    </p>
{% endif %}